# Configuration file for environment variables
API_KEY=""
LLM_MODEL="claude-sonnet-4-6"

# Agent configuration
SYSTEM_PROMPT_VERSION='system_prompt_v5'

# Agent Input
INPUT_SCRIPT_FILE='판매대본.json'
INPUT_MANUAL_FILE='상품설명서.pdf'
