# Configuration file for environment variables
ANTHROPIC_API_KEY=""
LLM_MODEL="claude-sonnet-4-6"

# Agent configuration
SYSTEM_PROMPT_VERSION='system_prompt_v5'

# Agent Input
USER_QUERY="펀드 불완전판매가 뭔가요?"

INPUT_SCRIPT_FILE='.json'
INPUT_MANUAL_FILE='사모_설명서_라이프 META 일반사모투자신탁 제2호_20260318.pdf'
