# Configuration file for environment variables
API_KEY=""
LLM_MODEL="claude-haiku-4-5-20251001" # claude-sonnet-4-6

# Agent configuration
SYSTEM_PROMPT_VERSION='system_prompt_v11'

# Agent Input
USER_QUERY="펀드 불완전판매가 뭔가요?"

INPUT_SCRIPT_FILE='사모_판매대본_라이프META일반사모투자신탁 제2호.xlsx'
INPUT_SCRIPT_SHEET='사모펀드(방문)'
INPUT_MANUAL_FILE='사모_설명서_라이프 META 일반사모투자신탁 제2호.pdf'
